#banner #banner_img{
	width: 1423px;
	height: 444px;
}
.banner_img{
    width: 1423px; 
    height: 444px; 
    border: 0;
}
#banner a{
	background-color: #F7F7F7;
	padding: 5px;
	text-decoration: none;
	color: #000;
}
 
	#banner a:hover{
		text-decoration: none;
		background-color: #333;
		color: #FFF;
	}
	
	#banner a.hover{
		background-color: #333;
		color: #FFF;
	}
	
#botoes {
	width: 1423px;
	text-align: right;
        padding-top: 0px;
        margin-right: 15px;
        border-bottom-left-radius: 180px;
                   border-bottom-right-radius: 180px;
                   border-top-left-radius: 180px;
                   border-top-right-radius: 180px;
}